# Logs
logs/
*.log

# Python cache
__pycache__/
**/__pycache__/
**.pyc


# .env files
.env
*.env
.venv/
**/.env
**/.venv/

# Ignore specific folders
part_1_RCA/utilss/__pycache__/
part_2_medical-chatbot/backend/routes/__pycache__/
part_2_medical-chatbot/data/__pycache__/
part_2_medical-chatbot/backend/__pycache__/
part_2_medical-chatbot/__pycache__/
part_2_medical-chatbot/backend/services/__pycache__/
